<ion-content color="light" class="list">
    <h1 style="text-align: center;">Pedidos Pendentes:</h1>
    <ion-list inset="true">
      <ion-item>
        <ion-label>Sorvete de Menta</ion-label>
        <ion-icon name="card-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Sorvete de Morango</ion-label>
        <ion-icon name="card-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Sorvete de Amendoim</ion-label>
        <ion-icon name="card-outline"></ion-icon>
      </ion-item>
    </ion-list>
</ion-content>